header .my-nav {
    position: fixed;
    top: 0%;
    width: 100vw;
    z-index: 2;
background-color: rgb(221, 147, 255) !important;
}
.main {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-info {
position: relative;
right: -180px;
color: rgb(221, 147, 255);
font-size: 30px;

}
 .main .my-slide{
    position: absolute;
    top: 100px;
    right: 0;
    width: 1200px;
    height: 908;
}
.card-group {
padding: 10%;
display: flex;
justify-content: center;
align-items: center;
}
.football-card {
width: 459px;
height: 245px;
}